{% extends 'products/base.html' %}

{% block content %}
 <div class="container py-5 ">
           <div class="row justify-content-center ">

{% for i in product %}

<div class="col-md-6 col-lg-3 col-xl-4 py-2 ">


        <div class="card text-black ">
         <a href="{% url 'detail' i.pk %}" class="title">
          <img
            src="{{i.image}}"
            class="card-img-top w-75 img-fluid m-5"
            alt="Apple Computer"

          />
          <div class="card-body">
            <div class="text-start">
              <h5 class="card-title title pb-4" >{{i.title}}</h5>
          </a>
            </div>
            <div>
              <div class="row text-start">
                <div class="col-12 text-muted"> Price: {{i.price}}</div>
                 <div class="col-12 text-muted"> User Rating: {{i.review_rating}} </div>
              </div>
            </div>
            <div class="row py-3">
            <div class="col-6 ps-2">
                <span ><a href="{% url 'detail' i.pk %}"><button class="btn-detail"> Details </button></a></span>
              </div>
              <div class="col-6 pe-2 text-end">
                <span ><a href="{{i.buy_link}}"><button class="btn-detail-buy"> Buy  </button></a></span>
              </div>
                </div>


          </div>
        </div>

 </div>
{% endfor %}

<!--paginator-->
<div class="row text-center">
   <div class="col-12">
{% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn-pag" href="?page=1">First</a>
        <a class="btn-pag" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn-pag" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn-pag" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn-pag" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn-pag mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
    </div>
</div>

    </div>
  </div>
{% endblock %}


